body {
    margin: 0;
    padding: 0;
    background-color: #F4EDED;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

header {
    background-color: white;
    display:flex;
    flex-direction: row;
}

header ul {
    align-self: center;
    list-style-type: none;
    overflow: hidden;
}
header li {
    float: right;
}

header li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

header a {
    text-align: center;
    text-decoration: none;
    color: black;
}

header h1 {
    margin-left: 2vw;;
}

footer {
    background-color: white;
    margin-top: auto;
    text-align: center;
}

main {
    display:flex;
    justify-content: center;
}

.main_page {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    display:flex;
    justify-content: center;
    min-width: 80%;
}

.produkty {
    display: inline-block;
    max-width: 100%;
}

.produkt {
    text-align: center;
    max-width: 43%;
    min-width: 43%;
    padding: 2vw;
}

.half {
    display:flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    width: 40%;
    justify-content: center;
}

.half img {
    align-self: center;
}

.other {
    display:flex;
    justify-content: center;
    margin-bottom: 10vw;
}