{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "blog/style.css" %}">
    <title>Môj Blog</title>
</head>
<body>
    <h1>Môj Blog</h1>
    {%if posts%}
        <h2>Posty</h2>
        <ul>
        {%for post in posts%}
            <li>
                <h3>{{post.name}}</h3>
                <p><strong>Datum vytvorenia:</strong> {{post.create_date}}, <strong>Datum publikacie:</strong> {{post.publish_date}}</p>
                <p><strong>Autor:</strong> {{post.author.nick}}</p>
                <p><strong>Kategoria:</strong> {{post.category}}</p>
                <p>{{post.text}}</p>
            </li>
        {%endfor%}
        </ul>
    {%endif%}
    {%if authors %}
        <h2>Užívatelia</h2>
        <ul>
        {%for author in authors%}
            <li>{{author}}</li>
        {%endfor%}
        </ul>
    {%endif%}
    {%if categories %}
        <h2>Kategórie</h2>
        <ul>
        {%for category in categories%}
            <li>{{category}}</li>
        {%endfor%}
        </ul>
    {%endif%}
</body>
</html>