{% extends "base.html" %}
{% block content %}    
    {% if ucitelia%}
    <div class="container">
    <h2>Naši učitelia:</h2>
    <ul class="list-group">
        {% for ucitel in ucitelia %}
        <li class="list-group-item"><a class="link-underline link-underline-opacity-0" href="{% url "ucitel" ucitel=ucitel.id %}">{{ucitel}}</a></li>
        {% endfor %}
    </ul>
    </div>    
    {%endif%}
    {% if triedy%}
    <div class="container">
    <h2>Naše triedy:</h2>
    <ul class="list-group">
        {% for trieda in triedy %}
        <li class="list-group-item"><a class="link-underline link-underline-opacity-0" href="{% url "trieda" trieda=trieda %}">{{trieda}}</a></li>
        {% endfor %}
    </ul> 
    </div>
    {%endif%}
    {% if studenti%}
    <div class="container">
    <h2>Naši študenti:</h2>
    <ul class="list-group">
        {% for student in studenti %}
        <li class="list-group-item"><a class="link-underline link-underline-opacity-0" href="{% url "student" student=student.id %}">{{student}}</a></li>
        {% endfor %}
    </ul>
    </div>
    {%endif%}
{% endblock  %}