{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div>
            {% if triedy %}
            <h2>Triedy:</h2>
            <ul class='list-group mb-4'>
                {% for trieda in triedy %}
                <li class='list-group-item'><a href="{% url 'trieda' trieda=trieda %}" class="link-offset-2 link-underline link-underline-opacity-50">{{trieda}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {%if ucitelia%}
            <h2>Ucitelia:</h2>
            <ul class='list-group mb-4'>
                {% for ucitel in ucitelia %}
                <li class='list-group-item'><a href="{% url 'ucitel' ucitel=ucitel.id %}" class="link-offset-2 link-underline link-underline-opacity-50">{{ucitel}}</a></li>
                {% endfor %}
            </ul>
            {%endif%}
            {%if studenti%}
            <h2>Studenti:</h2>
            <ul class='list-group'>
                {% for student in studenti %}
                <li class='list-group-item'><a href="{% url 'student' student=student.id %}" class="link-offset-2 link-underline link-underline-opacity-50">{{student}}</a></li>
                {% endfor %}
            </ul>
            {%endif%}
            {% if kruzky %}
            <h2>Kruzky:</h2>
            <ul class='list-group mb-4'>
                {% for kruzok in kruzky %}
                <li class='list-group-item'><a href="{% url 'kruzok' kruzok=kruzok.skratka %}" class="link-offset-2 link-underline link-underline-opacity-50">{{kruzok.nazov}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% comment %} {% if triedy and ucitelia and studenti %}
        <div class="obrazok">
        {% else %}
        <div>
        {% endif %}
            <img src="{% static 'skola/skola.jpg' %}" alt="moderna_skola" title="moderná škola" width="468" height="312">
        </div> {% endcomment %}
    </div>
{% endblock content %}