{% extends "base.html" %}
{% block content %}
    <header>
        {% if trieda %}
        <h1>{{trieda}}</h1>
        {% endif %}
    </header>
    <div class="container">
        <div>   
            {%if ucitel%}
            <h2>Triedny ucitel: </h2>
            <ul class='list-group mb-4'>
                <li class='list-group-item'><a href="{% url 'ucitel' ucitel=ucitel.id %}" class="link-offset-2 link-underline link-underline-opacity-50">{{ucitel.titul}} {{ucitel.meno}} {{ucitel.priezvisko}}</a></li>
            </ul>
            {%endif%}
            {%if studenti%}
            <h2>Studenti:</h2>
            <ul class='list-group'>
                {% for student in studenti %}
                <li class='list-group-item'><a href="{% url 'student' student=student.id %}" class="link-offset-2 link-underline link-underline-opacity-50">{{student.meno}} {{student.priezvisko}}</a></li>
                {% endfor %}
            </ul>
            {%endif%}
        </div>
        {% comment %} {% if triedy and ucitelia and studenti %}
        <div class="obrazok">
        {% else %}
        <div>
        {% endif %}
            <img src="{% static 'skola/skola.jpg' %}" alt="moderna_skola" title="moderná škola" width="468" height="312">
        </div> {% endcomment %}
    </div>
{% endblock content %}